<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Website/Login.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirect Root to Website" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="Website/Login.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
